@page "/recognition"


@if (isLoading)
{
    <div class="absolute w-full h-full fixed inset-0 bg-gray-700 bg-opacity-70 z-50" aria-hidden="true">
        <div class="flex flex-col text-center justify-center items-center w-full h-full rounded-md bg-opacity-90 flex zindex-max">
            <svg class="z-50 w-32 h-32 text-white animate-spin fill-blue-900" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
             <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"></path>
          </svg>
         <p class="text-white text-xl font-normal mt-4">Pillanat..</p>
       </div>
    </div>
}

<div class="w-full mx-auto flex flex-col-reverse lg:flex-row lg:space-x-8">
    <div class="lg:w-7/12 w-full space-y-4">
        <div class="w-full mx-auto bg-white shadow-md rounded-md p-2">
            <div class="p-4 w-full border-4 border-blue-900 hover:border-blue-700 border-dashed rounded-md flex items-center justify-center space-x-4 border-animation">
                <InputFile OnChange="@LoadFiles"></InputFile>
                <svg class="h-9 w-9 p-1" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.125 4.375H6.875V6.875H4.375V8.125H6.875V10.625H8.125V8.125H10.625V6.875H8.125V4.375ZM7.5 1.25C4.05 1.25 1.25 4.05 1.25 7.5C1.25 10.95 4.05 13.75 7.5 13.75C10.95 13.75 13.75 10.95 13.75 7.5C13.75 4.05 10.95 1.25 7.5 1.25ZM7.5 12.5C4.74375 12.5 2.5 10.2563 2.5 7.5C2.5 4.74375 4.74375 2.5 7.5 2.5C10.2563 2.5 12.5 4.74375 12.5 7.5C12.5 10.2563 10.2563 12.5 7.5 12.5Z" fill="#5B5E72" />
                </svg>
                <p class="text-gray-600 text-md font-normal">Add meg az elemezni kívánt képet</p>
            </div>
        </div>
        <div class="w-full">
            <span class="text-gray-500">Elvárt kimenet</span>
            <textarea spellcheck="true" class="input-field focus:ring-blue-700 focus:border-blue-700 hover:border-blue-700 border-animation" style="resize:none; height:80px; padding-top:20px;" rows="5"></textarea>
        </div>
    </div>

    <div class="lg:w-5/12 w-full mx-auto lg:self-center mb-8">
        <div class="w-full mx-auto divide-x divide-white shadow-md flex">
            <button class="w-1/2 p-4 bg-blue-900 hover:bg-blue-700 rounded-l-md flex items-center justify-center background-animation">

                <p class="text-white text-sm font-normal">Elemzés indítása</p>
            </button>
            <button class="w-1/2 p-4 bg-blue-900 hover:bg-blue-700 rounded-r-md flex items-center justify-center background-animation">
                <p class="text-white text-sm font-normal">Kimenet elemzése</p>
            </button>
        </div>
    </div>
</div>
